@page
@model Sync1Demo.Pages.Applicants.ListModel
@{
}


<h1>Applicant List</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search">Search</i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @{
        var tableIndexer = 1;
     }

    @foreach (var applicant in Model.Applicants)
    {
        <tr>
            <td>@tableIndexer</td>
            <td>@applicant.Name</td>
            <td>@applicant.Email</td>
            <td>@applicant.PhoneNumber</td>
            <td>@applicant.LoanAmount</td>
            <td>
                <a class="btn  btn-sm btn-dark"
                   asp-page="./ApplicantDetails"
                   asp-route-applicantId="@applicant.Id">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">View</span>
                </a>
                <a class="btn  btn-sm btn-dark"
                   asp-page="./ApplicantEdit"
                   asp-route-applicantId="@applicant.Id">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">Edit</span>
                </a>
                <a class="btn  btn-sm btn-dark"
                   asp-page="./ApplicantDelete"
                   asp-route-applicantId="@applicant.Id">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">Delete</span>
                </a>
            </td>
        </tr>
        tableIndexer++;
    }
</table>
<a asp-page="./ApplicantCreate" class="btn btn-primary">Add New</a>